@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
.BleButtonsContainer{
    position: absolute;
    top: calc(50% - var(--Grid-Size) / 2 - 40px);
    left: calc(50% + var(--Grid-Size) / 2 + 10px);;
}
.BleButtons{
    display: block;
    position: relative;
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 22px;
}

#connect{
    background: rgb(0,255,184);
background: linear-gradient(130deg, rgba(0,255,184,1) 0%, rgba(211,255,0,1) 100%);
}

#disconnect{
    background: rgb(255,0,0);
background: linear-gradient(130deg, rgba(255,0,0,1) 0%, rgba(255,239,0,1) 100%);
}

#update{
    background: rgb(0,9,255);
background: linear-gradient(133deg, rgba(0,9,255,1) 0%, rgba(0,255,248,1) 100%);
}